/* === FUENTE GENERAL Y LEGIBILIDAD === */
.root {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: normal;
}

/* CONTENEDOR PRINCIPAL */
.contenedor {
    -fx-pref-width: 1000;
    -fx-pref-height:1000;
    -fx-background-color: #23895A;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-background-radius: 35;
    -fx-border-radius: 35;
}

/* PANEL CALCULADORA */
.calculadora {
    -fx-pref-width: 90%;
    -fx-pref-height: 90%;
    -fx-hgap: 30;
    -fx-vgap: 30;
}

/* CONTENEDORES DE COLUMNA */
.a, .b {
    -fx-spacing: 20;
}

.b {
    -fx-alignment: center;
}

/* MONITOR */
.monitor {
    -fx-pref-width: 700;
    -fx-pref-height: 500;
    -fx-background-color: #9de3c5;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-translate-x:30;
}

/* INSERCIÓN NEGRA */
.insert {
    -fx-background-color: black;
    -fx-pref-width: 400;
    -fx-pref-height: 15;
}

/* SECCIÓN CALCULADORA */
.calc {
    -fx-spacing: 30;
    -fx-padding: 30 20 30 20;
}

/* PANEL DE BOTONES */
.botones {
    -fx-background-color: #66a07f;
    -fx-pref-height: 500;
    -fx-pref-width:330;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-border-radius: 10;
    -fx-translate-y: 35;
}

/* FILA DE BOTONES NUMÉRICOS */
.num {
    -fx-spacing: 10;
    -fx-padding: 10 0 0 0;
}

/* BOTÓN DE CÁLCULO */
.calculo {
    -fx-pref-width: 80;
    -fx-pref-height: 80;
    -fx-border-color: black;
    -fx-border-width: 4;
}

/* BOTÓN TRIANGULAR (basicas) */
#basicas {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* IMAGEN EN BASICAS */
#basicas ImageView {
    -fx-fit-width: 40;
    -fx-translate-y: 35;
    -fx-translate-x: -20;
    -fx-background-radius: 10;
}

/* BOTÓN VECTOR */
#vector {
    -fx-background-color: red;
    -fx-background-radius: 40;
}

/* IMAGEN EN VECTOR */
#vector ImageView {
    -fx-fit-width: 70;
    -fx-translate-x: -10;
    -fx-translate-y: -10;
}

/* BOTÓN MATRIZ */
#matriz {
    -fx-background-color: rgb(40, 194, 40);
}

/* IMAGEN EN MATRIZ */
#matriz ImageView {
    -fx-fit-width: 70;
    -fx-translate-x: -10;
    -fx-translate-y: -10;
}

/* BOTÓN SISTEMAS */
#sistemas {
    -fx-background-color: goldenrod;
    -fx-rotate: 45;
}

/* IMAGEN EN SISTEMAS */
#sistemas ImageView {
    -fx-fit-width: 70;
    -fx-translate-x: -10;
    -fx-translate-y: -10;
}

/* BOTONES NUMÉRICOS */
.numeros {
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-border-color: black;
    -fx-border-width: 4;
    -fx-background-color: gold;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}

/* FONDOS DE BOTONES DE SIGNOS */
#signos {
    -fx-background-color: darkgoldenrod;
}

.panel-boton {
    -fx-background-color: #74ac94;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-padding: 8 9 8 9;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 3, 0, 0, 1);
    -fx-cursor: hand;
}

/* === BOTONES DE MODO === */
#btnvectores {
    -fx-background-color: red;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6.25, 0.625, 0, 2.5);
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
}

#btnmatrices {
    -fx-background-color: #58d68d;
    -fx-background-radius: 25;
    -fx-font-size: 13px;
    -fx-text-fill: black;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-padding: 10 20 10 20;
}

#btnecuaciones {
    -fx-background-color: goldenrod;
    -fx-background-radius: 12.5;
    -fx-border-color: black;
    -fx-border-width: 3.75;
    -fx-rotate: 45;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6.25, 0.625, 0, 2.5);
    -fx-padding: 0;
}

#btncalculos {
    -fx-background-color: #5dade2;
    -fx-background-radius: 50;
    -fx-border-radius: 50;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-translate-y: 6;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 6.25, 0.625, 0, 2.5);
    -fx-pref-width: 120px;
    -fx-pref-height: 120px;
}




.boton-triangulo {
    -fx-background-color: gold;
    -fx-border-color: black;
    -fx-border-width: 3.75;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-shape: "M 0 100 L 50 0 L 100 100 Z";
    -fx-min-width: 100px;
    -fx-min-height: 100px;
    -fx-background-radius: 0;
    -fx-padding: 0;
}
